@import '../style/abstracts/mixins';

.home {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  &__title {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.175em;
    text-align: left;
    padding: 20px;
  }
}

@include respond(tab-port) {
  .home {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
