@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.navbar {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0;
  max-width: 1600px;
  margin: 0 auto;
  &__header {
    color: $main-grey;
    font-size: large;
    padding: 10px;
    border: $main-grey 2px solid;
    font-weight: 600;
  }
  &__icon {
    width: 150px;
    height: 70px;
    position: relative;
    top: 57%;
    z-index: 2;
  }
  &__links {
    &__item {
      padding: 15px 20px;
      color: $main-grey;
      font-weight: 600;
      position: relative;
    }
    &__item:hover {
      color: $main-grey;
    }
    &__item:hover:after {
      width: 100%;
      left: 0;
    }
    &__item:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      background: $main-grey;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
  }
}

@include respond(phone) {
  .navbar {
    justify-content: center !important;

    &__header {
      display: none;
    }
    &__icon {
      position: absolute;
      left: 35%;
    }
    &__links {
      &__item:nth-child(1) {
        padding-top: 15px;
        padding-right: 150px;
      }
      &__item:hover:after {
        width: 0;
        left: 0;
      }
    }
  }
}

@include respond(phone-xs) {
  .navbar {
    &__links {
      &__item:nth-child(1) {
        padding-top: 15px;
        padding-right: 100px;
      }
    }
    &__icon {
      left: 25%;
    }
  }
}
