@import '../../style/abstracts/mixins';
@import '../../style/abstracts/variables';

.blogCard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 6.7%;
  grid-auto-flow: dense;
  padding: 60px 0;
  grid-row-gap: 40px;
  box-shadow: 0 1.5px 0 #ccc;
  max-width: 1600px;
  text-align: left;
  align-items: center;
  &__image {
    max-width: 660px;
    grid-column: span 3;
  }
}

@include respond(tab-land) {
  .blogCard {
    padding: 40px 0;
    grid-row-gap: 30px;
    &__image {
      max-width: 900px;
      grid-column: 1/-1;
    }
  }
}
